.logo{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.2em;
    color: #E6E6E6;
    cursor: pointer !important;

}

nav-button{
    font-size: 20px;
    line-height: 24px;
    background: #E6E6E6;
    color: #191919;
    
}

@media only screen and (max-width: 600px) {
    .logo{
        font-size: 20px;
    }

    .nav-button{
        background-color: #0063AE !important;
    }


}