body {
  margin: 0;
  font-family: 'Aeonik';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Aeonik";
  src: local("Aeonik"),
   url("./fonts/AeonikTRIAL-Bold.otf") format("truetype");
  font-weight: normal;
  }

@font-face {
  font-family: "Aeonik";
  src: local("Aeonik"),
   url("./fonts/AeonikTRIAL-Regular.otf") format("truetype");
  font-weight: normal;
  }



